body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("background.png");
}

.double {
    color: blue;
}

.triple {
    color: green;
}

.quadruple {
    color: tomato;
}

.text1 .text2 .text3 { 
    display: none;
}

.container {
    display: inline-block;
}

h1, h2, h3, h4, h5 {
    font-family: "Georgia";
}

.typed-out {
    font-family: "Georgia";
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(50, end) forwards;
    font-size: 1.6rem;
    width: 0;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.green {
    display: inline;
    background-color: green;
    color: white;
}

.compare1 {
    text-align: center;
}

a {
    font-size: 18px !important;
}
